html,
body {
  font-family:
    Tektur, Montserrat, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
html {
  min-height: 100vh;
  height: max-content;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  // &::-webkit-scrollbar {
  //   width: 24px;
  //   height: 24px;
  // }
  // &::-webkit-scrollbar-track {
  //   box-shadow: rgb(0, 0, 0, 0);
  //   border: solid 8px rgb(0, 0, 0, 0);
  // }
  // &::-webkit-scrollbar-thumb {
  //   box-shadow: inset 0 0 8px 8px var(--gray-6);
  //   border: solid 8px rgb(0, 0, 0, 0);
  // }
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
  min-width: 0;
}
button {
  border: none;
  outline: none;
  appearance: none;
  padding: 0;
  background-color: transparent;
}
ul,
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
ol {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 0;
}

.liquid-glass {
  background: var(--liquid-glass-bg);
  backdrop-filter: var(--liquid-glass-backdrop);
  box-shadow: var(--liquid-glass-shadow);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--color-primary-on-text) !important;
  caret-color: var(--color-primary-on-text);
}
