.ut-h1 {
  font-weight: bold;
  font-size: 26px;
  line-height: normal;
}

.ut-h2 {
  font-weight: bold;
  font-size: 23px;
  line-height: normal;
}

.ut-h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: normal;
}

.ut-t-big {
  font-style: normal;
  font-size: 18px;
  line-height: normal;
}

.ut-t-big-i {
  font-style: italic;
  font-size: 18px;
  line-height: normal;
}

.ut-t-base {
  font-style: normal;
  font-size: 16px;
  line-height: normal;
}

.ut-t-base-i {
  font-style: italic;
  font-size: 16px;
  line-height: normal;
}

.ut-t-small {
  font-style: normal;
  font-size: 14px;
  line-height: normal;
}

.ut-t-small-i {
  font-style: italic;
  font-size: 14px;
  line-height: normal;
}

.ut-cap {
  font-style: normal;
  font-size: 13px;
  line-height: normal;
}
