@font-face {
  font-family: "Montserrat Italic";
  src:
    url("../fonts/Montserrat-Italic-VF.woff2") format("woff2"),
    url("../fonts/Montserrat-Italic-VF.woff2") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src:
    url("../fonts/Montserrat-VF.woff2") format("woff2"),
    url("../fonts/Montserrat-VF.ttf") format("truetype");
}
@font-face {
  font-family: "Russo One";
  src: url("../fonts/RussoOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "LVerdana";
  src: url("../fonts/Verdana.ttf") format("truetype");
}
