html,
body {
  font-family:
    Montserrat, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 100dvh;
}
* {
  box-sizing: border-box;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
  min-width: 0;
}
button {
  border: none;
  outline: none;
  appearance: none;
  padding: 0;
  background-color: transparent;
}
ul,
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
ol {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 0;
}
